<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="senac.ensineme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OfertaActivity"
            android:parentActivityName=".ProfessorMainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="senac.ensineme.ProfessorMainActivity" />
        </activity>
        <activity
            android:name=".UsuariosCadastradosActivity"
            android:label="@string/title_activity_usuario"
            android:parentActivityName=".AdministradorMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdm"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="senac.ensineme.AdministradorMainActivity" />
        </activity>
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfessorBuscaActivity"
            android:parentActivityName=".ProfessorMainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="senac.ensineme.ProfessorMainActivity" />
        </activity>
        <activity
            android:name=".AlunoBuscaActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".AlunoMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAluno">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="senac.ensineme.AlunoMainActivity" />
        </activity>
        <activity
            android:name=".OfertaValidaActivity"
            android:label="@string/title_activity_OfertaValida"
            android:parentActivityName=".AlunoMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAluno">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="senac.ensineme.AlunoMainActivity" />
        </activity>
        <activity
        android:name=".SettingsActivity"
        android:label="@string/title_activity_settings"
        android:parentActivityName=".AlunoMainActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppThemeAluno">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="senac.ensineme.AlunoMainActivity" />
    </activity>
        <activity
            android:name=".SettingsActivityAdmin"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".AdministradorMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdm">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="senac.ensineme.AdministradorMainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivityProf"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ProfessorMainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="senac.ensineme.ProfessorMainActivity" />
        </activity>
        <activity
            android:name=".ProfessorMainActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeProf.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="senac.ensineme.LoginActivity" />
        </activity>
        <activity
            android:name=".AlunoMainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAlun.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="senac.ensineme.LoginActivity" />
        </activity>
        <activity
            android:name=".CategoriasActivity"
            android:label="@string/title_activity_categoria"
            android:parentActivityName=".AdministradorMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdm">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="senac.ensineme.AdministradorMainActivity" />
        </activity>
        <activity
            android:name=".AdministradorMainActivity"
            android:label="@string/title_activity_administrador_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdmin.NoActionBar" />
        <activity
            android:name=".PrincipalActivity"
            android:label="@string/title_activity_principal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DemandaActivity"
            android:label="@string/title_activity_demanda"
            android:parentActivityName=".AlunoMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAluno">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="senac.ensineme.AlunoMainActivity"
                android:windowSoftInputMode="adjustResize" />
        </activity>
        <activity
            android:name=".UsuarioActivity"
            android:label="@string/title_activity_cadastro"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="senac.ensineme.LoginActivity"
                android:windowSoftInputMode="adjustResize" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".PrincipalActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="senac.ensineme.LoginActivity"
                android:windowSoftInputMode="adjustResize" />
        </activity>
        <activity android:name=".RecuperaSenhaActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name=".providers.DemandaSuggestionProvider"
            android:authorities="senac.ensineme.providers.DemandaSuggestionProvider" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

</manifest>